<div id="employee_show">
	<p style="color: green"><%= notice %></p>
	<h2 class="pb-2 border-bottom">Employee detail</h2>
	<div class="d-flex">
		<div class="d-inline-block">
			<%= button_to "Delete", @employee, method: :delete, class: 'btn btn-warning mr-2',
			data: {
				turbo_confirm: "Are you sure that you want to delete?"
			}
		%>
		</div>
		<div class="d-inline-block">
			&nbsp;
		</div>
		<div class="d-inline-block">
			<%= link_to "Back to employees", employees_path, type: "button", class: "btn btn-primary", role: "button" %>
		</div>
	</div>
	<div class="row g-4 py-5 row-cols-1 row-cols-sm-2">
		<%= render "employees/employee_detail", employee: @employee %>
	</div>
</div>
