<p style="color: green"><%= notice %></p>

<div class="container" id="employees">

<%= link_to "Back to employees", employees_path %>
  <%= button_to "Destroy this employee", @employee, method: :delete, class: 'btn btn-warning', data: {
    turbo_confirm: "Are you sure that you want to delete?"
  } %>
<%= render @employee %>

</div>