<div class="container px-4 py-5" id="employee_edit">
	<p style="color: green"><%= notice %></p>
	<h2 class="pb-2 border-bottom">Editing employee</h2>
	<div>
		<%= link_to "Show this employee", @employee, class: 'btn btn-info'%>
		<%= link_to "Back to employees", employees_path, class: 'btn btn-info' %>
	</div>
	<div class="row g-4 py-5 row-cols-1 row-cols-sm-2">
		<%= render "form", employee: @employee %>
	</div>
</div>
