

  <div class="container" id="employees">
<p style="color: green"><%= notice %></p>

    <h1>Employees</h1>

<div>
    <%= link_to "New employee", new_employee_path, class: "btn btn-primary" %>
<div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-1">
      <% @employees.each do |employee| %>
      <%= render employee %>
      <% end %>
    </div>
  </div>  


