<p style="color: green"><%= notice %></p>


  <div class="container" id="employees">
    <h1>Employees</h1>

    <%= link_to "New employee", new_employee_path, class: "" %>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @employees.each do |employee| %>
      <%= render employee %>
      <% end %>
    </div>
  </div>  


